<div class="container text-center mt-5">
  <h3 class="section-title mb-4">Find Me On</h3>
  
  <!-- Redes Sociales -->
  <div class="social-links d-flex justify-content-center mb-5">
    <a href="https://www.linkedin.com/in/alejandro-valencia-13b047269/" target="_blank" class="btn btn-social-link">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <a href="https://github.com/alejo78912" target="_blank" class="btn btn-social-link">
      <i class="fab fa-github"></i> GitHub
    </a>
    <a href="https://hub.docker.com/u/alejo78912" target="_blank" class="btn btn-social-link">
      <i class="fab fa-docker"></i> Docker Hub
    </a>
  </div>
  
  <!-- Formulario de Contacto -->
  <app-contact-form></app-contact-form>
</div>
