/* Estilos generales para la sección de experiencia profesional */
.container {
  padding: 60px 20px;
  background-color: #212529; /* Fondo oscuro para mantener la coherencia */
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
  animation: fadeInUp 1s ease-in-out;
}

/* Título principal */
h2 {
  font-size: 2.5rem;
  color: #5499c7; /* Azul */
  font-weight: bold;
  margin-bottom: 30px;
  animation: fadeInUp 1.5s ease-out;
}

/* Espaciado entre las secciones */
.app-section {
  margin-bottom: 50px;
}

/* Animación para los elementos */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mejorando la apariencia de los elementos dentro de cada sección */
.app-job, .app-projects, .app-timeline {
  animation: fadeInUp 1.5s ease-out;
  margin-bottom: 50px;
  padding: 30px;
  background-color: #343a40;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ajustes en pantallas más pequeñas */
@media (max-width: 768px) {
  /* Ajustar padding en pantallas pequeñas */
  .container {
    padding: 40px 15px;
  }

  /* Ajustar tamaño de fuente para el título */
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  /* Ajustar el padding de las secciones */
  .app-job, .app-projects, .app-timeline {
    padding: 20px; /* Reducir padding para no sobrecargar los dispositivos pequeños */
  }

  /* Reducir márgenes para optimizar espacio */
  .app-section {
    margin-bottom: 30px;
  }
}

/* Media Queries para pantallas muy pequeñas (hasta 480px) */
@media (max-width: 480px) {
  /* Ajustar padding en pantallas muy pequeñas */
  .container {
    padding: 30px 10px;
  }

  /* Reducir aún más el tamaño del título */
  h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
  }

  /* Ajustar padding de las secciones */
  .app-job, .app-projects, .app-timeline {
    padding: 15px; /* Menos padding en dispositivos móviles muy pequeños */
  }

  /* Reducir márgenes entre las secciones */
  .app-section {
    margin-bottom: 20px;
  }
}