/* Estilos generales para la sección de proyectos */
.container.projects {
  padding: 50px 20px;
  background-color: #212529; /* Fondo oscuro */
  max-width: 1200px;
  margin: 0 auto;
  animation: fadeInUp 1s ease-in-out;
}

/* Título de la sección de proyectos */
h2 {
  font-size: 2.5rem;
  color: #5499c7; /* Azul */
  font-weight: bold;
  margin-bottom: 30px;
  animation: fadeInUp 1.5s ease-out;
}

/* Estilos para las tarjetas de proyectos */
.project-card {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #343a40; /* Fondo oscuro para las tarjetas */
  animation: fadeInUp 1.5s ease-out;
}

/* Colores y formato de texto dentro de las tarjetas */
.project-card h5 {
  color: #5499c7; /* Azul para el título */
  font-size: 1.5rem;
  font-weight: bold;
}

.project-card p {
  font-size: 1.1rem;
  color: #f8f9fa; /* Texto claro */
  line-height: 1.6;
}

/* Espaciado entre las tarjetas */
.row {
  margin-top: 40px;
}

@media (max-width: 768px) {
  /* Ajustes para pantallas más pequeñas (tabletas y móviles grandes) */
  .container.projects {
    padding: 40px 15px; /* Reducir el padding */
  }

  h2 {
    font-size: 2rem; /* Reducir el tamaño del título */
    margin-bottom: 20px; /* Ajustar el margen inferior */
  }

  .project-card {
    padding: 15px; /* Reducir el padding de las tarjetas */
  }

  .project-card h5 {
    font-size: 1.3rem; /* Reducir el tamaño del título de las tarjetas */
  }

  .project-card p {
    font-size: 1rem; /* Reducir el tamaño del texto dentro de las tarjetas */
  }

  .row {
    margin-top: 30px; /* Reducir el margen entre las tarjetas */
  }
}

/* Media Queries para pantallas muy pequeñas (hasta 480px) */
@media (max-width: 480px) {
  /* Ajustes para pantallas muy pequeñas (móviles) */
  .container.projects {
    padding: 30px 10px; /* Reducir aún más el padding */
  }

  h2 {
    font-size: 1.6rem; /* Reducir el tamaño del título */
    margin-bottom: 15px; /* Ajustar el margen inferior */
  }

  .project-card {
    padding: 10px; /* Reducir el padding de las tarjetas */
  }

  .project-card h5 {
    font-size: 1.2rem; /* Reducir el tamaño del título de las tarjetas */
  }

  .project-card p {
    font-size: 0.95rem; /* Reducir el tamaño del texto */
  }

  .row {
    margin-top: 20px; /* Reducir el espacio entre las tarjetas */
  }
}

/* Animaciones */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}