/* Estilos para el footer */
.footer {
  background-color: #343a40; /* Fondo oscuro */
  color: #f8f9fa; /* Texto claro */
  padding: 40px 0;
  animation: fadeInUp 1s ease-out;
  text-align: center; /* Aseguramos que el contenido esté centrado en todas las pantallas */
}

.footer-text {
  font-size: 1rem;
  color: #f8f9fa;
  margin: 0;
}

/* Estilos para los enlaces de redes sociales */
.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Asegura que los enlaces se ajusten a nuevas líneas en pantallas pequeñas */
}

.btn-social-link {
  display: inline-flex;
  align-items: center;
  color: #f8f9fa;
  font-size: 1.1rem;
  text-decoration: none;
  border: 1px solid #5499c7; /* Borde color acorde */
  padding: 8px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.btn-social-link i {
  margin-right: 8px;
}

.btn-social-link:hover {
  background-color: #5499c7; /* Color de fondo al pasar el mouse */
  border-color: #5499c7; /* Color de borde al pasar el mouse */
  transform: translateY(-5px); /* Efecto de elevación */
}

.btn-social-link:hover i {
  color: #fff; /* Cambia el color del ícono al hacer hover */
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  /* Ajuste del padding para pantallas pequeñas */
  .footer {
    padding: 30px 15px;
  }

  .footer-text {
    font-size: 0.9rem; /* Reducir el tamaño del texto en dispositivos pequeños */
  }

  .social-links {
    gap: 15px; /* Reducir el espacio entre los íconos */
  }

  .btn-social-link {
    font-size: 1rem; /* Reducir el tamaño de la fuente en pantallas pequeñas */
    padding: 6px 15px; /* Reducir el padding para evitar que se vean muy grandes */
  }
}

/* Media Queries para pantallas muy pequeñas (hasta 480px) */
@media (max-width: 480px) {
  /* Ajustar aún más el padding en pantallas muy pequeñas */
  .footer {
    padding: 20px 10px;
  }

  .footer-text {
    font-size: 0.85rem; /* Ajustar aún más el tamaño del texto */
  }

  .social-links {
    gap: 10px; /* Reducir más el espacio entre los íconos */
  }

  .btn-social-link {
    font-size: 0.9rem; /* Reducir tamaño de la fuente */
    padding: 5px 12px; /* Reducir padding */
  }
}

/* Animaciones */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}