<footer class="footer bg-dark text-light py-4">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2024 Alejandro Valencia. All rights reserved.</p>
      </div>
      <div class="col-md-6">
        <div class="social-links">
          <a href="https://www.linkedin.com/in/alejandro-valencia-13b047269/" target="_blank" class="btn btn-social-link">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
          <a href="https://github.com/alejo78912" target="_blank" class="btn btn-social-link">
            <i class="fab fa-github"></i> GitHub
          </a>
          <a href="https://hub.docker.com/u/alejo78912" target="_blank" class="btn btn-social-link">
            <i class="fab fa-docker"></i> Docker Hub
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
