/* Estilos para el footer */
.footer {
  background-color: #343a40; /* Fondo oscuro */
  color: #f8f9fa; /* Texto claro */
  padding: 40px 0;
  animation: fadeInUp 1s ease-out;
}

.footer-text {
  font-size: 1rem;
  color: #f8f9fa;
  margin: 0;
}

/* Estilos para los enlaces de redes sociales */
.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-social-link {
  display: inline-flex;
  align-items: center;
  color: #f8f9fa;
  font-size: 1.1rem;
  text-decoration: none;
  border: 1px solid #5499c7; /* Borde color acorde */
  padding: 8px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.btn-social-link i {
  margin-right: 8px;
}

.btn-social-link:hover {
  background-color: #5499c7; /* Color de fondo al pasar el mouse */
  border-color: #5499c7; /* Color de borde al pasar el mouse */
  transform: translateY(-5px); /* Efecto de elevación */
}

.btn-social-link:hover i {
  color: #fff; /* Cambia el color del ícono al hacer hover */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
