/* Estilos para la sección "About Me" */
.bio {
  background-color: #343a40; /* Fondo oscuro */
  border-radius: 10px;
  padding: 50px 20px;
  max-width: 800px;
  margin: 30px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 1s ease-in-out;
}

.bio h2 {
  color: #5499c7; /* Título en azul */
  font-size: 2.5rem;
  font-weight: bold;
  animation: slideDown 0.8s ease-out;
}

.bio p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #f8f9fa; /* Texto claro */
  margin-bottom: 20px;
  text-align: justify;
  animation: fadeInUp 1s ease-out;
}

/* Animaciones */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 767px) {
  .bio {
    padding: 30px 15px; /* Menos espacio en los laterales */
    margin: 20px auto;
    max-width: 100%; /* Asegura que ocupe todo el ancho disponible */
  }

  .bio h2 {
    font-size: 2rem; /* Reducir el tamaño del título */
  }

  .bio p {
    font-size: 1rem; /* Reducir el tamaño del texto */
    line-height: 1.5; /* Ajustar la altura de línea */
    text-align: left; /* Alinear el texto a la izquierda para mejor legibilidad */
  }
}

/* Media Queries para pantallas muy pequeñas (dispositivos con pantallas pequeñas, como smartphones en orientación vertical) */
@media (max-width: 480px) {
  .bio {
    padding: 20px 10px; /* Menos espacio en los laterales */
  }

  .bio h2 {
    font-size: 1.8rem; /* Reducir aún más el tamaño del título */
  }

  .bio p {
    font-size: 0.95rem; /* Reducir aún más el tamaño del texto */
    line-height: 1.4; /* Ajuste de altura de línea */
  }
}