<div class="container text-center bio py-5">
  <h2 class="mb-4 text-light">About Me</h2>

  <div class="row">
    <div class="col-lg-6 mx-auto">
      <p class="lead text-light">
        I'm Alejandro Valencia, a passionate backend developer with a year of professional experience. I'm currently in my 9th semester of Software Engineering, where I'm expanding my skills and knowledge to build efficient and scalable systems.
      </p>
      <p class="text-light">
        Although I’m still early in my career, I’ve worked with a variety of technologies, including Angular, Java, Python, and PHP, and I’m excited to continue learning and contributing to meaningful projects.
      </p>
    </div>
  </div>
</div>
