/* Ajuste en la altura para ocupar todo el espacio disponible */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Eliminar cualquier desplazamiento vertical no deseado */
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; /* Asegura que el contenido ocupe toda la altura de la pantalla */
  overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
}

/* Contenedor principal */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin-top: 60px; /* Para no tapar el contenido debajo del navbar fijo */
  margin-bottom: 60px; /* Para no tapar el contenido debajo del navbar fijo */
}

/* App-root para flexibilidad en la vista de escritorio y móvil */
app-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-height: 100%; /* Asegura que el contenedor de la app ocupe toda la altura disponible */
  padding-bottom: 60px; /* Para dar espacio al footer */
}

/* Navbar */
app-navbar {
  background-color: #1f1f1f;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #e0e0e0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Contenedor adicional */
.container {
  background-color: #1e1e1e;
  color: #e0e0e0;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin-top: 60px;
  width: 100%;
  box-sizing: border-box;
}

/* Footer */
app-footer {
  background-color: #1f1f1f;
  padding: 20px;
  color: #e0e0e0;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  position: relative;
  margin-top: auto;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  /* Contenedor para móvil */
  .container {
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* Hacer el contenedor flexible para pantallas pequeñas */
  app-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding-bottom: 60px;
  }

  /* Navbar para móvil */
  app-navbar {
    padding: 10px;
  }

  /* Footer para móvil */
  app-footer {
    padding: 15px;
  }
}