/* Estilos para la barra de navegación */
.navbar {
  background-color: #343a40;
  padding: 0.8rem 1.5rem;
  animation: fadeInDown 1s ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Asegura que el navbar se posicione correctamente */
  z-index: 10;
}

/* Contenedor para el menú deslizante */
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

/* Estilo para los enlaces de navegación */
.navbar-nav .nav-link {
  color: #f8f9fa;
  font-size: 1.1rem;
  margin-left: 20px;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #5499c7;
  transform: translateY(-3px);
}

.navbar-nav .nav-link.active-link {
  color: #5499c7;
  font-weight: bold;
}

.navbar-brand {
  color: #5499c7;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: slideDown 0.8s ease-out;
}

/* Animaciones */
@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Estilo para el icono del toggler en dispositivos móviles */
.navbar-toggler-icon {
  background-color: #5499c7;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
    position: relative;
    z-index: 100;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
    padding: 0;
    align-items: center;
    position: absolute;
    top: -5px;
    left: 0;
    right: 500px;
    background-color: #444; /* Fondo oscuro y más opaco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transform: translateX(100%); /* El menú comienza fuera de la pantalla */
    transition: transform 0.3s ease;
    z-index: 100;
  }

  .navbar-nav.active {
    transform: translateX(0); /* El menú se desliza hacia adentro */
  }

  .navbar-nav .nav-link {
    margin-left: 0;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #444;
    color: #f8f9fa;
    font-size: 1.2rem;
  }

  .navbar-nav .nav-link:hover {
    background-color: #444;
    transform: translateY(0);
  }

  .navbar-toggler {
    display: block;
    background-color: transparent;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
  }

  .navbar-toggler-icon {
    background-color: #5499c7;
    width: 30px;
    height: 3px;
    position: relative;
  }

  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: '';
    background-color: #5499c7;
    height: 3px;
    width: 30px;
    position: absolute;
    transition: transform 0.3s ease;
  }

  .navbar-toggler-icon::before {
    top: -10px;
  }

  .navbar-toggler-icon::after {
    top: 10px;
  }

  .navbar-toggler.open .navbar-toggler-icon::before {
    transform: rotate(45deg);
    top: 0;
  }

  .navbar-toggler.open .navbar-toggler-icon::after {
    transform: rotate(-45deg);
    top: 0;
  }
}

/* Media Queries para pantallas más grandes (desde 1024px en adelante) */
@media (min-width: 1024px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar {
    padding: 0.8rem 1.5rem;
  }

  .navbar-nav {
    position: static;
    transform: translateX(0);
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
    margin-left: 20px;
  }

  .navbar-nav .nav-link {
    color: #f8f9fa;
    margin-left: 20px;
  }

  .navbar-nav .nav-link:hover {
    color: #5499c7;
  }
}